[View in Colaboratory](https://colab.research.google.com/github/pirsquared/Colaboratory/blob/master/pandas_subset_two_dataframes_based_on_multiple_columns.ipynb)

# Imports

In [0]:
import pandas as pd

pd.set_option(
    'display.notebook_repr_html', False,
    'expand_frame_repr', False,
    'display.max_colwidth', 50
)

# Parsing functions
* `rpd` is a generic parser taking a string and passing it through `StringIO`

In [0]:
def rpd(text='', sep='\s{1,}', *args, **kwargs):
  kw = dict(engine='python', sep=sep)
  return pd.read_csv(pd.io.common.StringIO(text), *args, **kw, **kwargs)

# [pandas subset two dataframes based on multiple columns](https://stackoverflow.com/questions/51913604/pandas-subset-two-dataframes-based-on-multiple-columns)

In [0]:
df1 = rpd(sep=',\s*', text="""\
name, age, id, acctno
abc, 23, 1001, 238238
dhd, 22, 2001, 299299
ddg, 30, 2920, 101010
ssd, 53, 1901, 238003
ggh, 52, 2221, 222222
eet, 50, 9920, 111111""")

df2 = rpd(sep=',\s*', text="""\
name, age, id, acctno
abc, 11, 1001, 238238
def, 55, 2001, 299299
xxy, 90, 2020, 101010""")

In [27]:
df1

  name  age    id  acctno
0  abc   23  1001  238238
1  dhd   22  2001  299299
2  ddg   30  2920  101010
3  ssd   53  1901  238003
4  ggh   52  2221  222222
5  eet   50  9920  111111

In [28]:
df2

  name  age    id  acctno
0  abc   11  1001  238238
1  def   55  2001  299299
2  xxy   90  2020  101010

# Use `mask` for `df1` tuple in `df2` tuples

In [29]:
df2_tups = [*zip(df2.id, df2.acctno)]
mask = [t not in df2_tups for t in zip(df1.id, df1.acctno)]
df1[mask]

  name  age    id  acctno
2  ddg   30  2920  101010
3  ssd   53  1901  238003
4  ggh   52  2221  222222
5  eet   50  9920  111111

# Use `merge`

In [30]:
df1.merge(
    df2[['id', 'acctno']], how='left', indicator=True
).query('_merge == "left_only"').drop('_merge', 1)

  name  age    id  acctno
2  ddg   30  2920  101010
3  ssd   53  1901  238003
4  ggh   52  2221  222222
5  eet   50  9920  111111