[View in Colaboratory](https://colab.research.google.com/github/pirsquared/Colaboratory/blob/master/Pandas_keeps_creating_lists_instead_of_DataFrames_out_of_HTML_input.ipynb)

# Prep Runtime

In [0]:
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4

# Imports

In [0]:
import pandas as pd

pd.set_option(
    'display.notebook_repr_html', False,
    'expand_frame_repr', False,
    'display.max_colwidth', 50
)
%matplotlib inline

# [Pandas keeps creating lists instead of DataFrames out of HTML input](https://stackoverflow.com/q/51913514/2336654)

`pandas.read_html` returns a list of all tables parsed.

In [0]:
html = """\
<table>
  <thead><tr><th>A</th><th>B</th></tr></thead>
  <tbody>
    <tr><td>1</td><td>2</td></tr>
    <tr><td>1</td><td>2</td></tr>
    <tr><td>1</td><td>2</td></tr>
  </tbody>
</table>"""

In [9]:
tables = pd.read_html(html)
tables[0]

   A  B
0  1  2
1  1  2
2  1  2

However, if the html has more than one table, each table gets parsed as a different element of the list.

In [10]:
tables = pd.read_html(html * 3)
print(*tables, sep='\n\n')

   A  B
0  1  2
1  1  2
2  1  2

   A  B
0  1  2
1  1  2
2  1  2

   A  B
0  1  2
1  1  2
2  1  2